.prose :where(img):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
  margin-right: auto;
  margin-left: auto;
}

.prose :where(video):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
  margin-right: auto;
  margin-left: auto;
}

.prose :where(iframe):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
  margin: 2em auto;
}
